{% load staticfiles %}
<html>
    <head>
        <title>Tunr</title>
        <link rel="stylesheet" href="{% static 'tunr.css' %}">
    </head>
    <body>
        <h1>Jim</h1>
        <nav>
            <a href="/songs">Songs</a>
            <a href="/">Artists</a>
        </nav>
        <div class='user-info'>
            {% if user.is_authenticated %}
              Welcome, {{user.username}}
              <a href="{% url 'logout' %}" title="">Log Out</a>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
              {% endif %}
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>
